<%- include("partials/header") %>
  <h1 class="mt-5 fw-bold">BitCoin Price App</h1>
  <form method="GET" action='/' class="text-center mt-4">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="currency" id="inlineRadio1" value="USD">
      <label class="form-check-label" for="inlineRadio1">USD</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="currency" id="inlineRadio2" value="GBP">
      <label class="form-check-label" for="inlineRadio2">GBP</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="currency" id="inlineRadio3" value="EUR">
      <label class="form-check-label" for="inlineRadio3">EUR</label>
    </div>
    <p><button class="mt-3 border border-white myButton" type="submit">Get Price</button></p>
  </form>

  <h1 class="fw-bold mt-5">This is the current price:</h1>
  <% if(queryParam==="USD" ){%>
    <h2 class="currency mb-5">&#36;<%=USD%>
    </h2>
    <%}else if(queryParam==="EUR" ){%>
      <h2 class="currency">&euro;<%=EUR%>
      </h2>
      <%}else if(queryParam==="GBP" ){%>
        <h2 class="currency">&pound;<%=GBP%>
        </h2>
        <%}%>




          <%- include("partials/footer") %>