<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <%for(let i=0; i<10; i++){%>
        <ul>
            <li>
                <%=businesses[i].name%>
                    <%=businesses[i].phone%>
            </li>
        </ul>
        <%}%>

            <%for(let i=0; i<videoId.length; i++){%>

                <h3>
                    <%=items[i].snippet.title%>
                </h3>
                <iframe src="https://www.youtube.com/embed/<%=videoId[i]%>"></iframe></li>
                <p>
                    <%=items[i].snippet.description%>
                </p>


                <%}%>
                    <!--         
    function embedVideo(data) {
        $('iframe').attr('src', 'https://www.youtube.com/embed/' + data.items[0].id.videoId)
        $('h3').text(data.items[0].snippet.title)
        $('.description').text(data.items[0].snippet.description)
    }         
            -->




</body>

</html>